.namestyle {
    border-bottom: 1px solid #000;
    user-select: none;
}

.team-style {
    border: 1px solid #0d0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.label-style {
    border: 1px solid #aaa;
    color: #555;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

.valkimg-style {
    border: 1px solid #aaa;
    width: 64px;
    height: auto;
}

.rank-style {
    border: 1px solid #aaa;
    color: #9ab;
    padding-left: 5px;
    padding-right: 5px;
}

.checkborder {
    border: 1px solid red;
}
.checkborder2 {
    border: 1px solid blue;
}

.checkbg {
    background-color: #090;
}
.checkbg2 {
    background-color: #cde;
}
