.boss-layout {
    border: 1px solid blue;
    padding-left: 40px;
    padding-right: 40px;
}

.img-icon {
    margin-right: 20px;
    height: 40px;
    width: auto;
}

.namestyle {
    background-color: #EEE;
    border-left: 5px solid #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    user-select: none;
}

.team-style {
    border: 0px solid #F50;
    background-color: #222;
    border-radius: 10px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 10px !important;
    margin-right: 10px;
    margin-left: 10px;
}

.team-side-style {
    padding: 10px;
}

.vidclick-style {
    border: 0px solid #a0a;
    user-select: none;
}
.vidclick-style:hover, .vidclick-style:active {
    background-color: #345;
    border-radius: 10px;
    cursor: pointer;
}

.label-style {
    border: 0px solid #aaa;
    color: #DDD;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}
.valkimg-style {
    border: 0px solid #aaa;
}
.rank-style {
    border: 0px solid #0f0;
    color: #9ab;
    padding-left: 5px;
    padding-right: 5px;
}

.checkborder {
    border: 1px solid red;
}
.checkborder2 {
    border: 1px solid blue;
}

.checkbg {
    background-color: #fee;
}
.checkbg2 {
    background-color: #cde;
}
.checkbg3 {
    background-color: #ffe;
}

/* MODAL */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
