html, body {
	background-color: #000;
	background-image: url("../img/velionabackground3.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	font-family: "Raleway", Arial;
}
@media only screen and (max-width: 960px) {
	.searchbar {
		margin-top: 80px !important;
	}
	.logo img {
		margin-left: 20px;
		width: 260px !important;
	}
}
@media only screen and (max-width: 600px) {
	.searchbar {
		margin-top: 100px !important;
	}
	.content h1 {
		font-size: 1.7em;
	}
	.content h2 {
		display: block;
		font-size: 1.2em;
		letter-spacing: 2px !important;
		word-wrap: break-word;
	}
	.content .typemech,
	.content .typebio,
	.content .typepsy,
	.content .typequa,
	.content .typeimg {
		font-size: 10px;
		width: 20%;
	}
}
img {
	border: 0;
	max-width: 100%;
	max-height: 100%;
}

.logo {
	/*border: 2px solid #0cda3c;*/
	text-align: left;
	margin-left: auto;
	margin-right: auto;
    margin-top: 100px;
	margin-bottom: 40px;
	max-width: 100%;
	max-height: 100%;
	width: 700px;
}

.searchbar {
	background-color: rgba(18, 20, 22, 0.90);
	/*border: 2px solid #0cda3c;*/
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 0px;
	max-width: 900px;
}
#searchInput {
	background-color: #252229;
	border: 2px solid #FB9929;
	color: #35D6FF;
	font-family: "Raleway", Arial;
	font-size: 1.2em;
	padding: 10px;
	width: 100%;
}
#searchInput:active {
	background-color: #000000;
}
#clickButton, #clickHowTo {
	background-color: #252229;
	border: 2px solid #FB9929;
	color: #35D6FF;
	font-family: "Raleway", Arial;
	font-size: 1.2em;
	padding: 10px;
	width: 100%;
}
#clickButton:active, #clickHowTo:active {
	color: #ff2266;
}
#clickButton:hover, #clickHowTo:hover {
	background-color: #000000;
}
.content {
	background-color: rgba(18, 20, 22, 0.90);
	/*border: 2px solid #0cda3c;*/
	color: #FFFFFF;
	font-size: 1.0em;
	margin-left: auto;
	margin-right: auto;
	padding: 16px;
	max-width: 900px;
}
.content .tagList {
    color: #FF7799;
	font-size: 1.0em;
    font-family: Consolas, Arial;
}
.content h1 {
	border-bottom: 1px solid #E4F1A4;
	color: #E4F1A4;
	font-size: 2.2em;
	font-family: "Lora", Consolas, Arial;
}
.content h2 {
	color: #35D6FF;
	font-family: "Raleway", Calibri, Arial;
	font-size: 1.4em;
    letter-spacing: 8px;
}
.content h3 {
	color: #FFF;
}
.content h4 {
    color: #ECDECC;
	margin-top: 8px;
	margin-bottom: 4px;
}
.content .statInfo {
	color: #ccffb3;
	font-family: Consolas, 'Lucida Console';
}
.content .otherID {
	color: #da0c3c;
	font-family: 'Roboto Mono', Consolas, Arial;
}
.content .otherID {
	color: #da0c3c;
	font-family: 'Roboto Mono', Consolas, Arial;
}
.content .typemech, .typebio, .typepsy, .typequa, .typeimg {
	color: #000000;
	white-space: nowrap;
	font-family: 'Roboto Mono', Consolas, Arial;
	font-weight: bold;
}
.content .typemech {
	background-color: #33ccff;
}
.content .typebio {
	background-color: #ff8c1a;
}
.content .typepsy {
	background-color: #dd11dd;
}
.content .typequa {
	background-color: #8822ff;
}
.content .typeimg {
	background-color: #c6ff1a;
}
.typeicon {
	min-height: 50px;
	max-height: 50px;
	float: right;
}
.valkpic {
	background-color: rgba(255, 255, 255, 0.15);
}

.returnbar {
	background-color: rgba(18, 20, 22, 0.90);
	/*border: 2px solid #0cda3c;*/
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 20px;
	padding: 0px;
	max-width: 900px;
}
.returnbar a {
	/*border: 2px solid #0cda3c;*/
	background-color: #252229;
	color: #FFF;
	display:inline-block;
    width: 100%;
    height: 100%;
	padding: 10px;
}

.returnbar a:hover {
	background-color: #000;
	color: #35D6FF;
}

.footer {
	background-color: rgba(18, 20, 22, 0.90);
	border-top: 1px solid #FB9929;
	/*border: 2px solid #0cda3c;*/
	color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	padding: 10px;
	max-width: 900px;
}

.footer a {
	color: #FFF;
}

.footer a:hover {
	color: #35D6FF;
}

.footer h1 {
	border-bottom: 1px solid #FB9929;
	color: #FB9929;
	font-family: "Didact Gothic", Consolas, Arial;
	font-size: 1.4em;
}
